<div class="row border border-success rounded" style="background-color: #fbb091">
  <div class="col-sm 3 text-center">
    <a href="#" class="btn btn-success">
      <h4>Contacto</h4>
    </a>
    <br><br>
    <div class="container">
    <p>Teléfono: +56912345678</p>
    <p>Mail: example@example.com</p>
  </div>
  </div>
  <div class="col-sm 3">
    <a href="#" class="btn btn-success">
      <h4>Quiénes somos</h4>
    </a>
  </div>
  <div class="col-sm 3">
    <a href="#" class="btn btn-success">
      <h4>Servicios!</h4>
    </a>
    <br><br>
    <div class="container">
      <p>Lorem ipsum</p>
      <p>Lorem ipsum</p>
    </div>
  </div>
  <div class="col-sm 3">
    <a href="#" class="btn btn-success">
      <h4>Redes sociales!</h4>
    </a>
    <div class="row">
      <div class="col-sm 6 text-center">
        <link href="#" class="fab fa-facebook-square">
        <br><br>
        <i class="fab fa-instagram"></i>
      </div>
      <div class="col-sm 6 text-left">
        <i class="fab fa-twitter"></i>
        <br><br>
        <i class="fab fa-google-plus-square"></i>
      </div>
    </div>
  </div>
  </div>
</div>
