<br>
<h1>Contactanos!</h1>
<br><br><br>
<div class="row">
  <div class="col-sm 6">
    <h3>Siempre puedes llamarnos al:</h3>
    <h4>+56912345678</h4>
  </div>
  <div class="col-sm 6">
    <h3>Ó contactarnos en nuestras redes sociales</h3>
    <div class="col-sm 4">
      <i class="fab fa-facebook-square"></i>
    </div>
    <div class="col-sm 4">

    </div>
    <div class="col-sm 4">

    </div>
  </div>
</div>
