<br><p>Hola <%= @resource.email %>!</p>

<p>Alguien a pedido el link para cambiar tu ontraseña, y aquí está, en el link de abajo.</p>

<p><%= link_to 'Cambiar mi contraseña!', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si no pediste este cambio, ignora este correo.</p>
<p>Tu contraseña no se cambiara hasta que ingreses al link de abajo y crees una nueva.</p>
